<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="productrange" id="productrange">
            <module name="Crimson_ProductRange"/>
        </route>
    </router>
</config>
